$body-bg: #fff;
$body-color: #111;
$primary: #993333;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #993333;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 576px,
  md: 768px,
  lg: 1024px
);