p {
    font-size: 1.2rem
}

h1 {
    font-size: 2.2rem
}
h2 {
    padding: 0px;
    font-size: 1.5rem;
}
h3 {
    font-size: 1.5rem
}

.hero-table {
    margin-left: 10%;
    margin-right: 10%
}

section {
    padding: 10px 0
}

main a {
    text-underline-offset: 2px;
}

.timeline {
    position: relative
}

.timeline::before {
    content: '';
    background: #ccc;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.timeline-item {
    width: 100%
}

.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 20px
}

.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0
}

.timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 50px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent
}

.timeline-item:nth-child(even) .timeline-content h2 {
    display: block;
    clear: both;
    padding-right: 50px
}

.timeline-item::after {
    content: '';
    display: block;
    clear: both
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 20px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0,0,0,0.3)
}

.timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5
}

.timeline-item a {
    color: #212121;
    text-decoration: none 
}

.timeline-item a:hover {
    color: #993333; 
    text-decoration: none 
}

.timeline-item a:active {
    color: #212121;
    text-decoration: none
}

.timeline-item a:disabled {
    pointer-events: none;
    color: #212121;
    text-decoration: none
}


.timeline-imagewrapper::after {
    content: "";
    display: block;
    clear: both
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px
}

.timeline-card {
    padding: 0 !important
}

.timeline-card p {
    padding: 0 20px
}

.timeline-card a {
    margin-left: 20px
}

.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)),url("https://picsum.photos/1000/800/?random") center center no-repeat;
    background-size: cover
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px
}

.timeline-img-header h2 {
    color: #fff;
    position: absolute;
    bottom: 5px;
    left: 10px
}

blockquote {
    color: #525252;
    border-left-color: #3F51B5;
    border-left-width: 1px;
    border-left: solid;
    padding: 0 20px;
    p {
        font-size: 1.35em;
        font-weight: 400;
        color:#000
     }
}

.date {
    background-color: #993333;
    display: inline-block;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left:50px
    }

    .timeline .timeline-img {
        left: 30px
    }

    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px
    }

    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: '';
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent
    }
}

.nav-link {
    color: #993333;
    font-weight: bolder;
}

.timeline-thumbnail {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.timeline-text {
    display: block
}

.timeline-title h2 {
    display: block;
    padding-top: 1.5em;
    font-size: 1.8em
}

.pagination a {
    color: #993333
}

.pagination a:hover {
    color: #993333
}

.pagination .active {
    background-color: #993333
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #993333;
    border-color: #993333;
    text-decoration: underline;
}

.breadcrumb-item .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    margin-left: 0px;
    color: #323232;
    content: var(--bs-breadcrumb-divider, ">")
}

.breadcrumb-item-active {
    text-decoration: none
}

.accordion-button {
    color: #410a0a;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.013)
}

.accordion-button:not(.collapsed) {
    color: #ce0404;
    background-color: #fcf3f3
}

ol {
    margin-left: 0px
}

body>div>div>main>section.timeline div>a {
    color: #212121;
    text-decoration: none
}

body>div>div>main>section.timeline div>a:hover {
    color: #993333;
    text-decoration: none
}

body>div>div>main>section.timeline div>a:active {
    color: #993333;
    text-decoration: none
}

.breadcrumb-item a {
    text-decoration: underline
}

.breadcrumb-item a:hover {
    color: #993333;
    text-decoration: none
}

.breadcrumb-item a:visited {
    color: #212121;
    text-decoration: none
}

body>div>div>main>section>div>div>nav.breadcrumb.container>ol.breadcrumb>li.breadcrumb-item>a:active {
    color: #993333;
    text-decoration: none
}

.footnotes p {
    font-size: .8rem
}

ol ol {
    list-style-type: decimal
}

.keyconcepts {
    font-size: 1.6rem
}

.footnotes ol {
    font-size: 1rem
}

.suggested-source {
    background-color: #993333;
    color: #fcf3f3;
    padding: 10px 0px 10px 0px
}

.suggested-source img {
    max-width: 25%;
    float: left
}

.sidebackground {
    background-color: #993333
}

.navigation a {
    background-color: #993333;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    border: none
}

.navigation a:hover {
    background-color: #fff;
    color: #993333;
    font-weight: bold;
    font-size: 1.25em;
    border: none
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}   
.footer {
    position: absolute;
    width: 100%;
    height: 60px;
}
.footer-container {
    width: auto;
    max-width: 100%;
}
.border-end {
    --bs-border-width: 0px;
}
.container-fluid {
    --bs-gutter-x: 0rem; 
}

@media screen {
    .fullheight{
      height:100%;
      overflow:auto
    }
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #993333;
    --bs-btn-border-color: #993333;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cf1525;
    --bs-btn-hover-border-color: #be1927;
    --bs-btn-focus-shadow-rgb: 92, 107, 192;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #be1927;
    --bs-btn-active-border-color: #be1927;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9d9d9d;
    --bs-btn-disabled-bg: #b22a35;
    --bs-btn-disabled-border-color: #b22a35;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
}
a:active {
    color: inherit;
}

.card a{
    text-decoration: none;
}
@media(min-width: 600px)
    {
    .button-menu-mobile
    {
    display:none;
    }
 }
  #sidebar {
    min-height: 100%;
  }
  #sidebar .nav {
    width: 100%;
  }

  
  /* collapsed sidebar styles */
  @media screen and (max-width: 767px) {
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
      right: -100%;
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -100%;
    }
    .row-offcanvas-right.active {
      right: 0%;
    }
    .row-offcanvas-left.active {
      left: 107%;
    }
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 100%;
    }
    #sidebar {
      padding-top:0;
    }
  }
  
#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
 
#skip a:focus
{
position:static;
width:auto;
height:auto;
}
details.readmore {
    border-width: 0px;
    margin: 0;

    summary {
        list-style-type: disclosure-closed;
    }
}
 
details.readmore[open] summary
{ 
  display: none;
}

$details-padding: 0.75em;

summary h2 {
    padding: 16px;
    margin-top: -3rem;
    margin-bottom: 1rem;
}

details.accordion {
    font-size: 1.2rem;
    margin: 0.5em auto;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    position: relative;
    width: 100%;

    .summary-title {
        user-select: none;
        border-radius: 1px;
        display: block;
        font-size: 1.4rem;
    }

    &:hover {
        cursor: pointer;
    }



    summary {
        list-style: none;
        padding: $details-padding;

        &:focus {
            outline: none;
        }

        &:hover .summary-chevron-up svg {
            opacity: 1;
        }
    }

    .summary-chevron-up svg {
        opacity: 0.5;
    }

    .summary-chevron-up,
    .summary-chevron-down {
        pointer-events: none;
        position: absolute;
        top: 1em;
        right: $details-padding;
        background: #ffffff;

        svg {
            display: block;
        }
    }

    summary::-webkit-details-marker {
        display: none;
    }
}
.concept { 
    ol {
    li {margin-top: -2.2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
}
}
}

.concept { 
    ol {
    li {margin-top: -2.2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
}
}
}

.references:has(.summary-content:empty) {
        display:none;
    }
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
    }
    sub {
    top: 0.4em;
    }

.red-button {
    color: $white;
    background-color: $red-600;
 }
 .white-button {
    color: $red-600;
    background-color: $white;
    outline-color: $red-600;
 }

 /// image resizing from https://www.brycewray.com/posts/2023/05/better-code-image-processing-hugo-render-hook-edition/

 .relative {
	position: relative;
}
.bg-center {
	background-position: center;
}
.w-full {
	max-width: 100%;
}
.h-auto {
	height: auto;
}
@keyframes fadeIn {
 0% {
	 opacity: 0;
 }
 to {
	 opacity: 1;
 }
}
.animate-fade {
	animation: fadeIn 750ms ease-in-out;
}
.imgCaption {
	padding: 0;
	margin-block-start: 0.5em;
	line-height: 1.375;
	font-size: 0.75em;
	text-align: center;
}
// from tufte hugo theme

.list-page a {
    font-size: 1.25rem;

}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background-color: #993333;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}
a.nav-item.nav-link{
    font-size: 1.2rem;
}
.nav-link:hover, .nav-link:focus {
    background-color: #be1927;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}
a.px-2.nav-link:hover {
    text-decoration: none;
}

 /// footnotes highlight 
@keyframes highlight {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .footnotes li,
  .footnote-ref {
    position: relative;
  
    &::after {
      position: absolute;
      z-index: -1;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        -100deg,
        rgba(#fdb4aa, 0.3),
        rgba(#fdb4aa, 0.6) 95%,
        rgba(#fdb4aa, 0.1)
      );
      opacity: 0;
    }
  
    &:target,
    &:focus {
      &::after {
        animation: highlight 2s cubic-bezier(0.3, 0, 1, 0.7);
      }
    }
  }
  .u-hidden-visually {
    clip-path: inset(100%);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.float-left {
    float: left;
    margin-right: 20px;

}

.clearfix {
    clear: both;
}
div.footnotes hr {
    display: none;
}