{{ define "main" }}
<div class="main col-lg-10 mx-auto justify-content-center py-5 d-print-block">
 <h1>{{ .Title }}</h1>{{ .Content | markdownify }}
      <ol>{{ range .Pages.ByWeight }}
      <li class="keyconcepts d-print-block"><details class="d-print-block">
            <summary class="block d-print-block"><h2>{{ .Params.title | markdownify }}</h2></summary>
            <div class="block d-print-block"><p>{{ .Content | markdownify }}</div></p>
            {{ if .Params.primarysource}}
            <div class="row suggested-source d-print-block">
              <div class="col-sm d-print-block"><h4>Suggested primary source: <br/>{{ .Params.primarysource }}</h4></div>
              <div class="col-sm d-print-block">
                {{$alt:= .Params.imageFeaturedAlt}}
                {{$permalink:= .Params.itemlink }}
                <a href="{{$permalink}}">
                  {{ with .Params.imageFeatured }}
                  {{ $image := resources.Get (printf "/images/%s" .)}}
                      <img src="{{ ($image).Permalink }}" class="" alt="{{with $.Params.imageFeaturedAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 50%; float:right;"/>
                        {{end}}</a></div>
              </div>{{ else }}{{ end }}
      </details>
    </li>{{end}}
    </ol>
  </div>
{{end}}
