{{ define "main" }}
<div class="main col-lg-10 mx-auto justify-content-center py-5 d-print-block">
 <h1>{{ .Title }}</h1>{{ .Content | markdownify }}
      <ul>{{ range .Pages.ByWeight }}
      <li class="keyconcepts d-print-block">
            <details class="">
              <summary class=""><h2>{{ .Params.title | markdownify }}</h2></summary>
            <p>{{ .Content | markdownify }}</p>
            {{ if .Params.primarysource}}
            <div class="row suggested-source">
              <h3>Suggested primary source: <br/>{{ .Params.primarysource }}</h3>
              <div class="col-sm">
                {{$alt:= .Params.imageFeaturedAlt}}
                {{$permalink:= .Params.itemlink }}
                <a href="{{$permalink}}">
                  {{ with .Params.imageFeatured }}
                  {{ $image := resources.Get (printf "/images/%s" .)}}
                      <img src="{{ ($image).Permalink }}" class="" alt="{{with $.Params.imageFeaturedAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 50%; float:right;"/>
                        {{end}}</a></div>
              </div>{{ else }}{{ end }}
            </details>
    </li>{{end}}
    </ul>
  </div>
{{end}}
