{{ define "main" }}
<div id="main" class="col-lg-10 mx-auto justify-content-center py-5 d-print-block">
    <title>{{ .Params.title }}</title>
                <h1>{{ .Page.Params.title }}</h1>
                 <p>{{ .Content | page.RenderString | safeHTML }}</p></details>
            {{with .Params.cards}}            
            <section>
                <div class="container-fluid">
                    <div class="gy-3 row">
                        {{ range $index,$card:= . }}
                        <div class="col-md-4">
                            <a href="{{ .btn.url }}"><div class="h-100 card mb-3">
                                {{$alt:= .alt}}  
                                {{with .img}}
                                {{ $image := resources.Get (printf "images/%s" .)}}
                                {{ with $image }}
                                <img src="{{ ($image.Fill "400x300 top").RelPermalink }}" class="card-img-top img-fluid" alt="{{$alt}}" />
                                {{ end }}
                                {{end}}
                                <div class="card-body">
                                    <h2 class="card-title">{{ .title | page.RenderString | safeHTML }}</h2>
                                    <p class="card-text mb-3">{{ .text | page.RenderString | safeHTML }}</p>
                                    {{ with .btn }}
                                    {{ if and .url .text }}
                                    <a href="{{ .url }}" class="btn btn-primary">{{ .text }}</a>
                                    {{ end }}
                                    {{ end }}
                                </div>
                            </div></a>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </section>
            {{end}}
    </div>
{{ end }}