{{ define "main" }}
   <h2> {{ .Params.title | markdownify }}</h2>
  <div class="row pack justify-content-left mx-auto">
    {{ .Content }}
    {{ range (.Paginate $.RegularPagesRecursive.ByDate).Pages}}
    
    <div class="col-md-2 card m-2">
      <a href="{{ .Permalink }}" class="index-anchor">
        <div class="panel panel-default py-3">
          {{$imageFeaturedAlt:= .Params.imageFeaturedAlt}}
          {{$title:= .Title}}
          {{ $image := resources.Get (printf "/images/%s" .Params.imageFeatured )}}
                    {{ with $image }}
                    <img src="{{ ($image.Fill "300x210 top").Permalink }}" class="card-img-top img-fluid" alt="{{with $imageFeaturedAlt}}{{ . }}{{else}}{{$title}}{{end}}" />
                    {{ end }}
      
      <div class="panel-body pt-3">
        <h3 class="panel-title pull-left">{{ .Params.title | markdownify }}</h3>
      </div>
    </div>
  </a>
  </div>
  {{ end }}

</div>

<div class="row">
 {{ partial "pagination" . }}
</div>
<!--<div class="footer-container">
  <span class="d-flex justify-content-left py-5">&copy;&nbsp; <span> <script>document.write( new Date().getFullYear() );</script>&nbsp; 
  </span> {{ .Site.Title }}</span>
</div>-->
{{ end }}
