{{ define "main" }}
    <p class="text-danger strong">DRAFT WORK IN PROGRESS. WE ARE SEEKING PERMISSION TO REPRODUCE COPYRIGHTED MATERIALS. YOU ARE WELCOME TO USE IN YOUR CLASSROOM, BUT PLEASE DO NOT SHARE PUBLICLY.</p>
    <h1>{{ .Title }}</h1></div>
        {{ .Content| page.RenderString | safeHTML }}
        {{ range .Paginator.Pages }}
        <article>
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <div class="pb-3">
            {{ .Summary }}
          </div>
        </article>
        {{ end }}
        <div class="m-3 d-flex justify-content-center">
          {{ template "_internal/pagination.html" . }}
        </div>
{{ end }}
