{{ define "main" }}
<h1>Search Results</h1>
<div id="search-results"></div>
  <div class="search-loading">Searching...</div>
    <script id="search-result-template" type="text/x-js-template">
        <div id="summary-${key}">
          <h4><a href="${link}">${title}</a></h4>
          <p>${snippet}</p>
          ${ isset tags }<p>Tags: ${tags}</p>${ end }
          ${ isset categories }<p>Categories: ${categories}</p>${ end }
        </div>
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/6.6.2/fuse.min.js" integrity="sha512-Nqw1tH3mpavka9cQCc5zWWEZNfIPdOYyQFjlV1NvflEtQ0/XI6ZQ+H/D3YgJdqSUJlMLAPRj/oXlaHCFbFCjoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js" integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ end }}