{{ define "main" }}
<div  id="main" class="col-lg-10 mx-auto justify-content-center py-5 d-print-block" data-pagefind-ignore="all">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/gallery">Gallery View</a>
          <a class="nav-item nav-link" href="/timeline">Timeline View</a>
          <a class="nav-item nav-link" href="/categories">Categories</a>
          <a class="nav-item nav-link" href="/tags">Tags</a>
          <a class="nav-item nav-link" href="/search">Search</a>
        </div>
</nav>
<title>{{ .Params.title }}</title>
<h1 class="py-4">{{ .Title }}</h1>
        {{ range .Paginator.Pages }}
        <article>
          <h2 class="list-page"><a href="{{ .RelPermalink }}">{{ .Title | page.RenderString }}</a></h2>
          <div class="pb-3">
            {{ .Summary | page.RenderString | safeHTML }}
          </div>
        </article>
        {{ end }}
        <div class="m-3 d-flex justify-content-center">
          {{ partial "pagination.html" . }}
        </div>
        </div>
{{ end }}