{{ define "main" }}
<div id="main" class="col-lg-10 mx-auto justify-content-center py-5 d-print-block" data-pagefind-ignore="index">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/gallery">Gallery View</a>
        <a class="nav-item nav-link" href="/timeline">Timeline View</a>
        <a class="nav-item nav-link" href="/categories">Categories</a>
        <a class="nav-item nav-link  active" href="/tags">Tags</a>
        <a class="nav-item nav-link" href="/search">Search</a>
      </div>
  </nav>
  <title>Tags</title>
  <h1 class="py-4">Tags</h1>
  <ul>
    {{ range $key, $value := .Site.Taxonomies.tags.Alphabetical }}
      <li><a href="/tags/{{ $value.Name }}">{{ replace $value.Name "-" " "}}</a>({{ $value.Count }})</li>
    {{ end }}
    </ul>
  </div>
  {{ end }}