{{ define "main" }}
<div id="main" class="col-lg-10 mx-auto justify-content-center my-5 d-print-block">
  <div class="mb-5">
    <div class="row justify-content-center pt-3">
      <title>{{ .Title }}</title>
        <h1> {{ .Params.title| page.RenderString | safeHTML }}</h1></div>
        <div class = "d-flex justify-content-center">
             {{ with .Params.imageFeatured }}
             {{ $image := resources.Get (printf "/images/%s" .)}}
                 <img src="{{ ($image).RelPermalink }}" class="responsive-figure-fullwidth mx-auto" alt="{{with $.Params.imageFeaturedAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%;"/>
             {{end}}
            </div>
            <div class="col-md-6 mx-auto d-print-block"><p> {{ .Content | page.RenderString | safeHTML }}</p>
                </div>
                </div>
{{ end }}