{{ define "main" }}
<div class="main col-lg-10 mx-auto justify-content-center py-5 d-print-block" data-pagefind-ignore="all">
   <h2> {{ .Params.title | page.RenderString | safeHTML }}</h2>
  <div class="row pack justify-content-left mx-auto">
    {{ .Content }}
    {{ range (.Paginate $.RegularPagesRecursive).Pages }}
    <div class="col-md-4 card m-2">
      <a href="{{ .RelPermalink }}" class="index-anchor">
        <div class="panel panel-default py-3">
          {{$featuredAlt:= .Params.featuredAlt}}
          {{ $image := resources.Get (printf "/images/%s" .Params.featured )}}
                    {{ with $image }}
                    <img src="{{ ($image.Fill "300x210 top").RelPermalink }}" class="card-img-top img-fluid" alt="{{with $featuredAlt}}{{ . }}{{end}}" />
                    {{ end }}
      
      <div class="panel-body pt-3">
        <h3 class="panel-title pull-left">{{ .Params.title | page.RenderString }}</h3>
      </div>
    </div></a>
  </div>
  {{ end }}

</div>
{{end}}