{{ define "main" }}
<img class ="d-none" data-pagefind-meta="image[src], image_alt[alt]" src="/images/{{.Params.featured }}"alt="{{with $.Params.featuredAlt}}{{ . }}{{else}}{{$.Title}}{{end}}"/>
<div class="main col-lg-6 mx-auto justify-content-center py-5 d-print-block">
                 <p>{{ .Content | page.RenderString | safeHTML }}</p>
                 <title data-pagefind-meta="title">{{ .Title}} </title>
                 
                 <div class = "justify-content-center">
                    {{$video:=.Params.video}}
                      {{with $video}}
                      {{if eq $video.srcType "youtube"}}
                      <iframe class="youtube-video" src="https://www.youtube.com/embed/{{.srcLink}}" title="{{with $.Params.videoTitle}}{{ . }}{{end}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      {{else if eq $video.srcType "other"}}
                      <video class="responsive-figure-fullwidth mx-auto" controls title="{{with $.Params.videoTitle | page.RenderString | safeHTML }}{{ . }}{{else}}{{$.Title}}{{end}}">
                        <source src = "{{.srcLink}}" type = "video/mp4">
                        This browser doesn't support video tag.
                     </video>
                     {{end}}   
                     {{end}} 
                </div>
                <div class= "justify-content-center pt-5">
                  {{$videoAsl:=.Params.videoAsl}}
                    {{with $videoAsl}}
                    {{if eq $videoAsl.srcType "youtube"}}
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/{{.srcLink}}" title="{{with $.Params.videoTitleASL}}{{ . }}{{end}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {{else if eq $videoAsl.srcType "other"}}
                    <video width="100%" height="auto" class="responsive-figure-fullwidth mx-auto" controls title="{{with $.Params.videoAslTitle | page.RenderString | safeHTML }}{{ . }}{{else}}{{$.Title}}{{end}}">
                      <source src = "{{.srcLink}}" type = "video/mp4">
                      This browser doesn't support video tag.
                   </video>
                   {{end}}   
                   {{end}} 
              </div>
{{ end }}