  {{ with .Params.featured }}
  {{ $image := resources.Get (printf "/images/%s" .)}}
    <img src="{{ ($image).RelPermalink }}" class="responsive me-2 d-block" alt="{{with $.Params.featuredAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%; float: left;
    display: inline-block;"/>
  {{end}}
        <h3>{{ .Params.name }}</h3>
        <p>{{ .Params.jobtitle }}</p>
        <p>{{ .Params.org }}</p>
     <div class="pt-2" style="clear:both;">
        <p>{{ .Params.bio | page.RenderString | safeHTML }}</p>
        <p>{{ .Params.workonproject | page.RenderString | safeHTML }}</p>
    </div>
  