<img class= "d-none" data-pagefind-meta="image[src], image_alt[alt]" src="/images/{{.Params.featured }}"alt="{{with $.Params.featuredAlt}}{{ . }}{{else}}{{$.Title}}{{end}}"/>
<p><strong>Date:</strong> {{ if .Params.Displaydate }}{{ .Params.Displaydate | page.RenderString | safeHTML}}
    {{ else }}{{ .Params.Date.Format "Jan 2, 2006" | page.RenderString | safeHTML}}{{ end }}</p>
    <p><strong>Caption:</strong> {{ .Params.caption | page.RenderString | safeHTML }}</p>
{{ if .Params.text }}
<div class="pb-3 d-print-none"><a href="/plain-text/{{.Params.text}}">Read plain text of document</a></div>{{ end }}
{{ if .Params.detailedDescr }}<div class="pb-3 d-print-none"><a href="/plain-text/{{.Params.detailedDescr}}">Detailed image description</a></div>{{ end }}
{{ if .Params.audioTranscript }}<div class="pb-3 d-print-none"><a href="/plain-text/{{.Params.audioTranscript}}" >Audio transcript</a></div>{{ end }}
<div class="d-flex justify-content-center">
    {{$video:= .Params.video}}
    {{$audio:= .Params.audio}}
    {{with or .Params.video .Params.embed .Params.audio}}
    {{with $video}}
      {{if eq $video.srcType "youtube"}}
        <iframe loading="lazy" width="854" height="480" class="responsive-figure-fullwidth mx-auto" src="https://www.youtube.com/embed/{{.srcLink}}" title="{{with $.Params.videoTitle}}{{ . }}{{else}}{{$.Title}}{{end}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {{else if eq $video.srcType "vimeo"}} 
        <iframe loading="laz" width="854" height="480" class="responsive-figure-fullwidth mx-auto" src="https://player.vimeo.com/video/{{.srcLink}}" title="{{with $.Params.videoTitle}}{{ . }}{{else}}{{$.Title}}{{end}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     {{else if eq $video.srcType "other"}}
      <video width="560" height="315" class="responsive-figure-fullwidth mx-auto" controls title="{{with $.Params.videoTitle}}{{ . }}{{else}}{{$.Title}}{{end}}">
        <source src = "{{.srcLink}}" type = "video/mp4">
        This browser doesn't support video tag.
     </video>
     {{end}}
     {{else}}
     {{with $audio}}
      {{ if eq $audio.srcType "apple" }}
        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="{{.srcLink}}" title="{{with $.Params.audioTitle}}{{ . }}{{else}}{{$.Title}}{{end}}"></iframe>
    {{else if eq $audio.srcType "other"}} This browser doesn't support this player{{end}}
     {{else}} 
     {{ $pdf := resources.Get (printf "/images/%s" $.Params.embed)}}
            <iframe title="{{with $.Params.embedTitle}}{{ . }}{{else}}{{$.Title}}{{end}}" src="{{$pdf.RelPermalink}}"
                width="100%" height="1200px" class="d-print-none"></iframe>
     {{end}}{{end}}
     {{else}}
     {{ with .Params.featured }}
     {{ $image := resources.Get (printf "/images/%s" .)}}
         <img data-pagefind-meta="image[src], image_alt[alt]" src="{{ ($image).RelPermalink }}"
          class="responsive-figure-fullwidth mx-auto" alt="{{with $.Params.featuredAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%;"/>
     {{end}}
     {{end}}
    </div>
    <div class="col-md-6 mx-auto d-print-block"><p> {{ .Content | page.RenderString | safeHTML }}</p>
    {{ if .Params.relTitle }}<h2 class="py-3 d-print-none">{{ .Params.relTitle }}</h2>
    {{ $relImg := resources.Get (printf "/images/%s" $.Params.relImg)}}
    {{ $relLink := $.Params.relLink }}
    {{ with and $relImg $relLink }} 
    <a href="{{$relLink}}"><img src="{{ $relImg.RelPermalink }}" class="responsive-figure mx-auto d-print-none" alt="{{with $.Params.relImgAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%;"/></a>
     {{end}}{{ else }}{{ end }}</div>
     <div class="col mx-auto d-print-block">{{ if .Params.categories }}
        <p class="pt-5 px-3 d-print-none"><strong>Categories: </strong>
            {{ range $k, $v:= .GetTerms "categories" }}
            {{- if $k }}, {{ end }}
            <a class="category-link" href="{{ .RelPermalink }}">{{ .LinkTitle  }}</a>
            {{- end }}
            </p>{{ end }}
        {{ if .Params.tags }}
        <p class="px-3 d-print-none"><strong>Tags: </strong>
            {{ range $k, $v:= .GetTerms "tags" }}
            {{- if $k }}, {{ end }}
            <a class="tag-link" href="{{ .RelPermalink }}">{{ .LinkTitle  }}</a>
            {{- end }}
        </p>{{ end }}</div>
        {{ if .Params.docset }}<div class="col mx-auto d-print-block"><p class="px-3">This item is part of <a href="/topics/{{.Params.docset}}/{{.Params.bundle}}">"{{.Params.bundleTitle | page.RenderString | safeHTML}}"</a> in <a href="/topics/{{.Params.docset}}">"{{.Params.docsetTitle  | page.RenderString | safeHTML}}"</a></p></div>{{end}}
        <div class="row mx-auto pt-3">
                <details class="accordion d-print-block">
                    <summary><span class="summary-title d-print-block">Item Details</span>
                        <div class="summary-chevron-up d-print-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </div>
                    </summary>
                    <div class="summary-content d-print-block mx-3">
                        <p> <strong>Date:</strong> {{ if .Params.Displaydate }}{{ .Params.Displaydate }}
                            {{ else }}{{ .Params.Date.Format "Jan 2, 2006"}}{{ end }}
                            {{ if .Params.author }} <p> <strong>Creator:</strong> {{ .Params.author | page.RenderString | safeHTML}}</p>{{ end }}
                        <p> <strong>Source:</strong> {{ if .Params.source_link }}<a href="{{ .Params.source_link }}">{{ .Params.archive_source | page.RenderString | safeHTML}}</a>{{ else }} {{ .Params.archive_source | page.RenderString | safeHTML}}{{ end }}</p>
                        <p> <strong>Copyright:</strong> {{ .Params.copyright | page.RenderString | safeHTML}}</p>
                        <p> <strong>How to cite:</strong> {{ .Params.citation | page.RenderString | safeHTML}}</p>
                   </div>
                   <div class="summary-chevron-down d-print-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></div>
                </details>
                <details class="accordion">
                    <summary>
                        <span class="summary-title d-print-block">
                            Questions to Consider</span>
                            <div class="summary-chevron-up d-print-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                            </div>
                    </summary>
                    <div class="summary-content d-print-block">
                        <ul>{{ range .Params.questions }}<li>{{ $.Page.RenderString . | safeHTML }}</li>{{ end }}</ul>
                    </div>
                    <div class="summary-chevron-down d-print-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></div>
                </details>
                <details class="references accordion">
                    <summary>
                        <span class="summary-title">References</span>
                        <div class="summary-chevron-up d-print-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </div>
                    </summary>
                    <div class="summary-content"></div>
                    <div class="summary-chevron-down d-print-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></div>
                </details>
                <details class="accordion d-print-none">
                    <summary>
                        <span class="summary-title d-print-none">How to Print this Page</span>
                        <div class="summary-chevron-up d-print-none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </div>
                    </summary>
                    <div class="summary-content d-print-none">
                        <ul><li>Press Ctrl + P or Cmd + P to open the print dialogue window.</li>
                            <li>Under settings, choose "display headers and footers" if you want to print page numbers and the web address.</li>
                            <li>Embedded PDF files will not print as part of the page. For best printing results, download the PDF and print from Adobe Reader or Preview.
                            </li>
                        </ul>
                    </div>
                    <div class="summary-chevron-down d-print-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg></div>
                </details>
        </div>


