<meta name="twitter:card" content="summary_large_image" />
{{ with .Params.featured }}
     {{ $image := resources.Get (printf "/images/%s" .)}}
<meta name="twitter:image" content="{{ $image.Permalink }}"/>
{{ else }}
<meta name="twitter:image" content="https://nyccivilrightshistory.org/img/nyccrh-logo-lg.jpg"/>
{{end}}
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
<meta name="twitter:image:alt" content="{{.Params.featuredAlt }}">




{{- /* Deprecate site.Social.twitter in favor of site.Params.social.twitter */}}
{{- $twitterSite := "" }}
{{- with .Site.Params.Social }}
  {{- if reflect.IsMap . }}
    {{- $twitterSite = .twitter }}
  {{- end }}
{{- else }}
  {{- with site.Params.Social.twitter }}
    {{- $twitterSite = . }}
    {{- warnf "The social key in site configuration is deprecated. Use params.social.twitter instead." }}
  {{- end }}
{{- end }}

{{- with $twitterSite }}
  {{- $content := . }}
  {{- if not (strings.HasPrefix . "@") }}
    {{- $content = printf "@%v" $twitterSite }}
  {{- end }}
<meta name="twitter:site" content="{{ $content }}"/>
{{- end }}