<div class="col-auto px-0 sidebackground">
<div id="sidebar" class="collapse-horizontal hide border-end collapse show">
  <div class="sitelogo d-print-none"><a class="navbar-brand" href="https://nyccivilrightshistory.org/site-preview/home">
    <img src="https://nyccivilrightshistory.org/site-preview/img/nyccrh-logo-redbg.jpg" alt="NYC Civil Rights History Logo" width="300px;">
  </a></div>
  <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
    
 <!--<div class="container-fluid ms-3"><form class="d-flex" action="https://nyccivilrightshistory.org/site-preview/search" method="GET">
    <input type="search" name="q" class="form-control searchbar d-print-none" id="search-query" placeholder="Search..." aria-label="Search">
  </form></div>-->
    <div id="sidebar-nav" class="navigation list-group border-0 rounded-0 text-sm-start min-vh-100 d-print-none">
      {{ with .Site.GetPage "about" }}<a href="{{ .Permalink }}" class="list-group-item border-end-0 d-block text-truncate" data-bs-parent="#sidebar"><span> About</span> </a>{{ end }}
      {{ with .Site.GetPage "gallery" }}  <a href="{{ .Permalink }}" class="list-group-item border-end-0 d-block text-truncate" data-bs-parent="#sidebar"><span>Gallery</span></a>{{ end }}
      {{ with .Site.GetPage "topics" }}  <a href="{{ .Permalink }}" class="list-group-item border-end-0 d-block text-truncate" data-bs-parent="#sidebar"><span>Topics</span></a>{{ end }}
      {{ with .Site.GetPage "key-concepts" }}  <a href="{{ .Permalink }}" class="list-group-item border-end-0 d-block text-truncatee" data-bs-parent="#sidebar"><span>Key Concepts</span></a>{{ end }}
      {{ with .Site.GetPage "project-history" }} <a href="{{ .Permalink }}" class="list-group-item border-end-0 d-block text-truncatee" data-bs-parent="#sidebar"><span>Project History</span></a>{{ end }}
      <form class="d-flex m-3" method="get" role="search" action="/search/index.html">
        <input id="js-searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
        <button class="btn-outline" type="submit">Search</button>
      </form>
    </div>
<!-- <div class="row"> <span class="d-flex justify-content-left">&copy;&nbsp; <span> <script>document.write( new Date().getFullYear() );</script>&nbsp;  
    </span> {{ .Site.Title }}</span></div>-->
</div>

</div>
</div>