<div class="col-sm-2 sidebar-offcanvas sidebackground " id="sidebar" role="navigation">
<div class="col-auto px-0 offcanvas offcanvas-start " tabindex="-1" id="sidebar" aria-labelledby="sidebar">
  <div class="border-end visible-lg offcanvas-header "> 
      <div class="sitelogo d-print-none offcanvas-body ">
        <a class="skip-link" href="#main">Skip to content</a>
        <a class="navbar-brand" href="/home">
        <img src="https://nyccivilrightshistory.org/img/nyccrh-logo-redbg.jpg" alt="NYC Civil Rights History Project Logo" width="100%">
      </a>
  </div>
  <div id="sidebar-nav" class="navigation list-group border-0 rounded-0 text-sm-start min-vh-100 py-3 d-print-none">
    {{ with .Site.GetPage "about" }}<a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncate" data-bs-parent="#sidebar"><span> About</span> </a>{{ end }}
      {{ with .Site.GetPage "gallery" }}  <a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncate" data-bs-parent="#sidebar"><span>Gallery</span></a>{{ end }}
      {{ with .Site.GetPage "topics" }}  <a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncate" data-bs-parent="#sidebar"><span>Topics</span></a>{{ end }}
      {{ with .Site.GetPage "key-concepts" }}  <a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncatee" data-bs-parent="#sidebar"><span>Key Concepts</span></a>{{ end }}
      {{ with .Site.GetPage "resources" }}  <a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncatee" data-bs-parent="#sidebar"><span>Teaching Resources</span></a>{{ end }}
      {{ with .Site.GetPage "project-history" }} <a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncatee" data-bs-parent="#sidebar"><span>Project History</span></a>{{ end }}
      {{ with .Site.GetPage "search" }} <a href="{{ .RelPermalink }}" class="list-group-item border-end-0 d-block text-truncatee" data-bs-parent="#sidebar"><span>Search</span></a>{{ end }}
      <!--<form class="mw-100" method="get" role="search" action="/search/index.html">
        <input id="js-searchInput" class="form-control" type="search" placeholder="Search" aria-label="Search" name="q" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false">
        <button class="btn btn-md white-button interact px-2" type="submit">Search</button>
      </form>-->
      </div>
      </div>
      </div>
    </div>