<section class="timeline">
    <div class="container-fluid" style="text-align: left!important">
      {{ range .RegularPagesRecursive.ByDate | uniq }} 
        {{$alt:= .Params.featuredAlt}}
        {{$permalink:= .RelPermalink}}
        {{if .Params.hasContentInGallery}}
        {{$fileName:= .File.BaseFileName}}
        {{$galleryPage:= $.Site.GetPage (printf "gallery/%s" $fileName)}}
        {{with $galleryPage}}
        <div class="timeline-item">
            <div class="timeline-img"></div>
            <a href="{{$permalink}}">
            <div class="timeline-content">
                <div class="timeline-title"><h2>{{ .Params.Title | page.RenderString | safeHTML }}</h2></div>
                {{ if .Params.Displaydate }}
                <div class="date">{{ .Params.Displaydate }}</div>
                {{ else }}
                <div class="date">{{ .Params.Date.Format "Jan 2, 2006"}}</div>{{ end }}
                <div class="timeline-imagewrapper">
                    <div class="timeline-thumbnail">{{with .Params.featured}}
                        {{ $timelineimage := resources.GetMatch (printf "/images/%s" .)}}
                        {{ with $timelineimage }}
                        <img src="{{ ($timelineimage.Fill "160x120 top").RelPermalink }}"  alt="{{ .Params.featuredAlt }}"/>
                        {{ end }}{{end}}</div>
                        <div class="timeline-text p2"><p>{{.Params.Eventname  | page.RenderString | safeHTML }}<br>
                        </div>
                </div>
            </div></a>
        </div>
        {{end}} 
        {{else}}
        <div class="timeline-item">
            <div class="timeline-img"></div>
            {{ if .Params.hasContentInGallery }}<a href="{{$permalink}}">{{else}}
            <div class="timeline-content">
                <div class="timeline-title"><h2>{{ .Params.Title | page.RenderString | safeHTML }}</h2></div>
                {{ if .Params.Displaydate }}
                <div class="date">{{ .Params.Displaydate }}</div>
                {{ else }}
                <div class="date">{{ .Params.Date.Format "Jan 2, 2006"}}</div>{{ end }}
                <div class="timeline-imagewrapper">
                    <div class="timeline-thumbnail">{{with .Params.featured}}
                        {{ $timelineimage := resources.GetMatch (printf "/images/%s" .)}}
                        {{ with $timelineimage }}
                        <img src="{{ ($timelineimage.Fill "160x120 top").RelPermalink }}"  alt="{{ .Params.featuredAlt }}" />
                        {{ end }}{{end}}</div>
                        <div class="timeline-text p2"><p>{{.Params.Eventname | page.RenderString | safeHTML }}<br>
                    </div>
                </div>
            </div></a>{{end}}
        </div>
        {{end}}
      {{ end }}
        {{$allPages:= .Page.Parent.Pages}}
        {{$pages:= slice}}
        {{range $allPages }}
            {{if eq .Params.layout "docset-gallery"}} 
                {{$pages = $pages | append .}}
            {{end}}
        {{end}}
        {{$permalink:= .RelPermalink}}
        {{$lastIndex:= sub (len $pages) 1}}
        {{range $index, $page:= $pages}}
            {{if eq $page.RelPermalink $permalink}}
            {{end}}
        {{end}}
    </div>
</section>