<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head" . }}
</head>
<div class="d-flex align-items-center p-3 mt-auto">
    <div class="row justify-content-center align-items-center d-flex">
        <div class="col-sm-4">
            <img src="/img/nyccrh-logo-lg.jpg" alt="Illustration of protestors holding signs, a megaphone, and a banner that says New York City Civil Rights History (a teaching guide)" class="img-fluid responsive-figure-fullwidth">
        </div>
        <div class="col-sm-4">
            <main>
                <title>New York City Civil Rights History, a teaching guide</title>
                    <p>{{ .Content| page.RenderString | safeHTML }}</p>
                    <div>
                        {{ with .Params.btn1 }}
                        {{ if and .text .url }}
                        <button class="btn btn-lg btn-primary interact px-4 me-2"><a href="{{ .url }}" style="text-decoration: none;">{{ .text }}</a></button>
                        {{ end }}
                        {{ end }}
                    </div>
                </main>
         </div>
      </div>
