<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head" . }}
</head>
<div class="main container-fluid py-5 d-print-block">
    <div class="row">
        <div class="col-sm p-5">
            <img src="/img/nyccrh-logo-lg.jpg" alt="" class="d-block mx-auto mt-5">
          </div>
      <div class="col-sm  mx-auto justify-content-center p-5">
        <h1>{{ .Params.heading }}</h1>
            <p>{{ .Content| page.RenderString | safeHTML }}</p>
            <div>
                {{ with .Params.btn1 }}
                {{ if and .text .url }}
                <a type="button" href="{{ .url }}" class="btn btn-lg btn-outline-danger interact px-4 me-2" role="button" >{{ .text }}</a>
                {{ end }}
                {{ end }}
            </div>
      </div>
    </div>
    </div>
