{{ define "main" }}
    <div id="main" class="col-lg-10 mx-auto justify-content-center py-5 d-print-block" data-pagefind-ignore="index">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/gallery">Gallery View</a>
        <a class="nav-item nav-link" href="/timeline">Timeline View</a>
        <a class="nav-item nav-link active" href="/categories">Categories</a>
        <a class="nav-item nav-link" href="/tags">Tags</a>
        <a class="nav-item nav-link" href="/search">Search</a>
      </div>
  </nav>
  <title>Categories</title>
  <h1 class="py-4">{{ .Title }}</h1>
  <h2 class="py-3">Location</h2>
  <ul>
    <li><a href="/categories/bronx">Bronx</a> </li>
    <li><a href="/categories/brooklyn">Brooklyn</a></li>
    <li><a href="/categories/manhattan">Manhattan</a></li>
    <li><a href="/categories/new-york-state">New York State</a></li>
    <li><a href="/categories/queens">Queens</a></li>
    <li><a href="/categories/staten-island">Staten Island</a></li>
  </ul>
  <h2 class="py-3">School level or type</h2>
  <ul>
    <li><a href="/categories/adult-education">adult education</a></li>
    <li><a href="/categories/higher-education">higher education</a></li>
    <li><a href="/categories/special-education">special education</a></li>
  </ul>
  <h2 class="py-3">Type of activism</h2>
  <ul>
    <li><a href="/categories/community-activism">community activism</a></li>
    <li><a href="/categories/k-12-organizing">K-12 organizing</a></li>
    <li><a href="/categories/parent-activism">parent activism</a></li>
    <li><a href="/categories/student-activism">student activism</a></li>
    <li><a href="/categories/teacher-activism">teacher activism</a></li>
  </ul>
  </div>
  {{ end }}