<div class="container-fluid mt-5">
    <div class="row mb-5">
        {{ if .Params.graphicTitle }}<h2 class="py-3 d-print-none">{{ .Params.graphicTitle }}</h2>
 {{ $graphicImg := resources.Get (printf "/images/%s" $.Params.graphicImg)}}
 {{ with $graphicImg}} 
 <img src="{{ $graphicImg.RelPermalink }}" class="responsive-figure mx-auto d-print-none" alt="{{with $.Params.graphicImgAlt}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%;"/>
  {{end}}{{ else }}{{ end }}
      <div class="row mb-5">
        {{ if .Params.graphicTitle2 }}<h2 class="py-3 d-print-none">{{ .Params.graphicTitle2 }}</h2>
 {{ $graphicImg2 := resources.Get (printf "/images/%s" $.Params.graphicImg2)}}
 {{ with $graphicImg2}} 
 <img src="{{ $graphicImg2.RelPermalink }}" class="responsive-figure mx-auto d-print-none" alt="{{with $.Params.graphicImgAlt2}}{{ . }}{{else}}{{$.Title}}{{end}}" style="max-width: 100%;"/>
  {{end}}{{ else }}{{ end }}
      </div>
    </div>