{{ define "main" }}
<div id="main" class="col-lg-10 mx-auto justify-content-center py-5 d-print-block" data-pagefind-ignore="index">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/gallery">Gallery View</a>
          <a class="nav-item nav-link" href="/timeline">Timeline View</a>
          <a class="nav-item nav-link" href="/categories">Categories</a>
          <a class="nav-item nav-link" href="/tags">Tags</a>
          <a class="nav-item nav-link active" href="/search">Search</a>
        </div>
</nav>
<h1 class="py-4">{{ .Title }}</h1>
<div id="search"></div></div></div>
<noscript>
        Search does not work because Javascript is turned off.
        </noscript>
{{ end }}
